<div>
	<h1>Content</h1>
	<div class="form-group">
		<label class="col-sm-4 control-label">Text</label>
		<div class="col-sm-8">
			<input type="text" class="form-control"></input>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">CheckBox</label>
		<div class="col-sm-8">
			<input type="checkbox" class="form-control"></input>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">Select2</label>
		<div class="col-sm-8">
			<select class='select2 form-control'>
				<option value="1">Option1</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">Date</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input class='date-picker form-control' type="text"
					data-date-format="yyyy-mm-dd"></input> <span
					class="input-group-addon"> <i
					class="fa fa-calendar bigger-110"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">Date Time</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input class='datetime-picker form-control' type="text"
					data-date-format=""></input> <span class="input-group-addon">
					<i class="fa fa-calendar bigger-110"></i>
				</span>
			</div>
		</div>
	</div>
</div>