<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="|${pageInfo.title} - ${pageInfo.subTitle}|">vue-empty
	template</title>
<!--   <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
<link rel="stylesheet" th:href="@{/assets/css/element-ui-2.4.3.css}"
	href="/assets/css/element-ui-2.4.3.css">
<script th:src="@{/assets/js/vue-2.5.16.js}"
	src="/assets/js/vue-2.5.16.js"></script>
<script th:src="@{/assets/js/element-ui-2.4.3.js}"
	src="/assets/js/element-ui-2.4.3.js"></script>
</head>
<body>
	<div id="container" th:include="${subPage}"></div>
</body>
<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
<!--  <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
</html>