
<div id="sidebar" class="sidebar responsive">
	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'fixed')
		} catch (e) {
		}
	</script>

	<!-- <div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-success">
				<i class="ace-icon fa fa-signal"></i>
			</button>

			<button class="btn btn-info">
				<i class="ace-icon fa fa-pencil"></i>
			</button>

			<button class="btn btn-warning">
				<i class="ace-icon fa fa-users"></i>
			</button>

			<button class="btn btn-danger">
				<i class="ace-icon fa fa-cogs"></i>
			</button>
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span> <span class="btn btn-info"></span>

			<span class="btn btn-warning"></span> <span class="btn btn-danger"></span>
		</div>
	</div> -->
	<!-- /.sidebar-shortcuts -->

<!-- 	<ul class="nav nav-list">
		<li class="active"><a href="/"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					仪表板 </span>
		</a> <b class="arrow"></b></li>

		<li class=""><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-desktop"></i> <span class="menu-text">
					高级 </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>

			<ul class="submenu">
				<li class=""><a href="/sampledata/initMetadata/5"> <i
						class="menu-icon fa fa-caret-right"></i> 初始化
				</a> <b class="arrow"></b></li>

				<li class=""><a href="/vp/list/mtable"> <i
						class="menu-icon fa fa-caret-right"></i> 对象
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/vp/list/stablemapping"> <i
						class="menu-icon fa fa-caret-right"></i> 表映射
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/vp/list/sdictionary"> <i
						class="menu-icon fa fa-caret-right"></i> 系统字典
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/vp/list/stenant"> <i
						class="menu-icon fa fa-caret-right"></i> 租户
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/vp/list/ssoftapp"> <i
						class="menu-icon fa fa-caret-right"></i> 应用程序
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/vp/list/srole"> <i
						class="menu-icon fa fa-caret-right"></i> 角色
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/vp/list/suser"> <i
						class="menu-icon fa fa-caret-right"></i> 用户
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/vp/list/saccesslog"> <i
						class="menu-icon fa fa-caret-right"></i> 访问日志
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/vp/list/ssystemmetrics"> <i
						class="menu-icon fa fa-caret-right"></i> 系统监控数据
				</a> <b class="arrow"></b></li>
				
				<li class=""><a href="#" class="dropdown-toggle"> <i
						class="menu-icon fa fa-caret-right"></i> 管理 <b
						class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<li class=""><a href="/admin/entityviews"> <i
								class="menu-icon fa fa-leaf"></i> 实体视图
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/templatebuilders"> <i
								class="menu-icon fa fa-leaf"></i> 模板构造器
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/cache"> <i
								class="menu-icon fa fa-leaf"></i> 缓存
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/mappings"> <i
								class="menu-icon fa fa-leaf"></i> 资源
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/beans"> <i
								class="menu-icon fa fa-leaf"></i> SpringBeans
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/dump"> <i
								class="menu-icon fa fa-leaf"></i> 线程
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/autoconfig"> <i
								class="menu-icon fa fa-leaf"></i> 配置
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/env"> <i
								class="menu-icon fa fa-leaf"></i> 环境
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/configprops"> <i
								class="menu-icon fa fa-leaf"></i> 参数
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/metrics"> <i
								class="menu-icon fa fa-leaf"></i> 统计
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/trace"> <i
								class="menu-icon fa fa-leaf"></i> 跟踪
						</a> <b class="arrow"></b></li>
						<li class=""><a href="/admin/jms"> <i
								class="menu-icon fa fa-leaf"></i> 消息统计
						</a> <b class="arrow"></b></li>
					</ul></li>
			</ul></li>

		<li class=""><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-list"></i> <span class="menu-text">
					Tables </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>

			<ul class="submenu">
				<li class=""><a href="tables.html"> <i
						class="menu-icon fa fa-caret-right"></i> Simple &amp; Dynamic
				</a> <b class="arrow"></b></li>

				<li class=""><a href="jqgrid.html"> <i
						class="menu-icon fa fa-caret-right"></i> jqGrid plugin
				</a> <b class="arrow"></b></li>
			</ul></li>

		<li class=""><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-pencil-square-o"></i> <span class="menu-text">
					Forms </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>

			<ul class="submenu">
				<li class=""><a href="form-elements.html"> <i
						class="menu-icon fa fa-caret-right"></i> Form Elements
				</a> <b class="arrow"></b></li>

				<li class=""><a href="form-wizard.html"> <i
						class="menu-icon fa fa-caret-right"></i> Wizard &amp; Validation
				</a> <b class="arrow"></b></li>

				<li class=""><a href="wysiwyg.html"> <i
						class="menu-icon fa fa-caret-right"></i> Wysiwyg &amp; Markdown
				</a> <b class="arrow"></b></li>

				<li class=""><a href="dropzone.html"> <i
						class="menu-icon fa fa-caret-right"></i> Dropzone File Upload
				</a> <b class="arrow"></b></li>
			</ul></li>

		<li class=""><a href="/admin/entityviews"> <i
				class="menu-icon fa fa-list-alt"></i> <span class="menu-text">
					实体视图 </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/vp/list/stdtestemployee"> <i
				class="menu-icon fa fa-list-alt"></i> <span class="menu-text">
					基准测试员工表 </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/vp/list/stdtesttable"> <i
				class="menu-icon fa fa-list-alt"></i> <span class="menu-text">
					基准测试数据表 </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/api/browser"> <i
				class="menu-icon fa fa-list-alt"></i> <span class="menu-text">
					浏览器 </span>
		</a> <b class="arrow"></b></li>

		<li class=""><a href="calendar.html"> <i
				class="menu-icon fa fa-calendar"></i> <span class="menu-text">
					Calendar <span class="badge badge-transparent tooltip-error"
					title="2 Important Events"> <i
						class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
				</span>
			</span>
		</a> <b class="arrow"></b></li>

		<li class=""><a href="gallery.html"> <i
				class="menu-icon fa fa-picture-o"></i> <span class="menu-text">
					Gallery </span>
		</a> <b class="arrow"></b></li>

		<li class=""><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tag"></i> <span class="menu-text">
					More Pages </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>

			<ul class="submenu">
				<li class=""><a href="profile.html"> <i
						class="menu-icon fa fa-caret-right"></i> User Profile
				</a> <b class="arrow"></b></li>

				<li class=""><a href="inbox.html"> <i
						class="menu-icon fa fa-caret-right"></i> Inbox
				</a> <b class="arrow"></b></li>

				<li class=""><a href="pricing.html"> <i
						class="menu-icon fa fa-caret-right"></i> Pricing Tables
				</a> <b class="arrow"></b></li>

				<li class=""><a href="invoice.html"> <i
						class="menu-icon fa fa-caret-right"></i> Invoice
				</a> <b class="arrow"></b></li>

				<li class=""><a href="timeline.html"> <i
						class="menu-icon fa fa-caret-right"></i> Timeline
				</a> <b class="arrow"></b></li>

				<li class=""><a href="login.html"> <i
						class="menu-icon fa fa-caret-right"></i> Login &amp; Register
				</a> <b class="arrow"></b></li>
			</ul></li>

		<li class=""><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-file-o"></i> <span class="menu-text">
					Other Pages <span class="badge badge-primary">5</span>
			</span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>

			<ul class="submenu">
				<li class=""><a href="faq.html"> <i
						class="menu-icon fa fa-caret-right"></i> FAQ
				</a> <b class="arrow"></b></li>

				<li class=""><a href="error-404.html"> <i
						class="menu-icon fa fa-caret-right"></i> Error 404
				</a> <b class="arrow"></b></li>

				<li class=""><a href="error-500.html"> <i
						class="menu-icon fa fa-caret-right"></i> Error 500
				</a> <b class="arrow"></b></li>

				<li class=""><a href="grid.html"> <i
						class="menu-icon fa fa-caret-right"></i> Grid
				</a> <b class="arrow"></b></li>

				<li class=""><a href="blank.html"> <i
						class="menu-icon fa fa-caret-right"></i> Blank Page
				</a> <b class="arrow"></b></li>
			</ul></li>
	</ul>
 -->	<!-- /.nav-list -->

	#parse(${pageInfo.sideBarTemplate})

	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left"
			data-icon1="ace-icon fa fa-angle-double-left"
			data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>

	<script type="text/javascript">
		try {
			ace.settings.check('sidebar', 'collapsed')
		} catch (e) {
		}
	</script>
</div>
